@{
    ViewBag.Title = "Citas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Para obtener una cita médica:</p>

<br />
LLame al número fijo 0x-xxx-xxxx, o al móvil 09x-xxx-xxxx en horario de oficina, desde las 8:00 am hasta las 5:00 pm
<br />
<br />
Visite nuestro sitio oficial de citas médicas en <a href="http://www.hospitalutpl.com/"> http://www.hospitalutpl.com/</a>, 
allí encontrará información adicional sobre nuestros servicios.
<br />
<br />
Acudir al hospital presencialmente. Recuerde, acuda solo si es necesario. Nuestras oficinas están ubicadas en Leopoldo Palacios 
entre Juan José Peña y 24 de Mayo. Utilice en todo momento su mascarilla.
<br />
