@{
    ViewBag.Title = "Especialidades";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Ponemos a su disposición las siguientes especialidades en consulta externa y emergencia:
    <br />
    Cardiología: Dr. Mateo Recalde, Dra. Sonia Borja
    <br />
    Neurología: Dr. Jesús Villarreal
    <br />
    Otorrinolaringologia: Dra. Susana Robles
    <br />
    Gastroenterología: Dr. Marco Albán
    <br />
    Medicina General: Dr. Pablo Burneo, Dra. Cecilia Salguero, Dr. Javier Tovar
    <br />
    Odontología: Dr. Christian Cabezas
    
</p>

<address>
    <strong>Contacto:</strong>   <a href="http://www.hospitalutpl.com/contact/"> http://www.hospitalutpl.com/contact/ </a><br />
    <strong>Servicios Médicos:</strong> <a href="http://www.hospitalutpl.com/servicios/servicios-medicos/">http://www.hospitalutpl.com/servicios/servicios-medicos/</a>
</address>