
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>
<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Creación de paciente", "Create", "Pacientes")</li>
        <li>@Html.ActionLink("Detalles de paciente", "Details", "Pacientes")</li>
        <li>@Html.ActionLink("Editar paciente", "Edit", "Pacientes")</li>
        <li>@Html.ActionLink("Mostrar pacientes", "Index", "Pacientes")</li>
    </ul>
</div>


